<!DOCTYPE html>
<link href="../bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link href="../stylesheets/daterangepicker.css" rel="stylesheet">
<link href="../stylesheets/newQueue.css" rel="stylesheet">
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <style>
        input[disabled]:hover {
        cursor: default;
        }
        </style>
        <% include nav.ejs %>
        <div class="container">
            <div class="form-group">
                <div class="col-sm-12" style="margin-bottom:30px;-webkit-box-shadow: 0px 1px 0px 0px rgba(173,173,173,1);
                    -moz-box-shadow: 0px 1px 0px 0px rgba(173,173,173,1);
                box-shadow: 0px 1px 0px 0px rgba(173,173,173,1);"><h1><b>Create new booking</b></h1></div>
            </div>
            <form class="form-horizontal" action="confirm_create_queue" method="post">
                <div id="tester"></div>
                <input style="display:none;" type="text" name="somefakename"/>
                <input style="display:none;" type="password" name="anotherfakename"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <div style="color:red; display: inline;">*</div>
                    Client :</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name='client_form' id="client_form"
                        placeholder="Client name..." required>
                    </div>
                    <label class="col-sm-2 control-label">Quotation number :</label>
                    <div class="col-sm-3">
                        <input type="text" name='quotation_number' id="quotation_number" class=" form-control"
                        placeholder="auto generate quotation no." value=<%= data %>
                        disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Job description :</label>
                    <div class="col-sm-5">
                        <textarea rows="4" class="form-control" style="width:100%; resize: none;" id="job_description_form" name="job_description_form" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Photographer :</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="Photographer_form" name="Photographer_form"
                        placeholder="Client name...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <div style="color:red; display: inline;">*</div>
                    Shooting date :</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="form-control" id='date_picker' placeholder="Username"
                            aria-describedby="basic-addon1" name="date_picker">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"
                            aria-hidden="true"></span></span>
                        </div>
                        <input type="text" class="form-control" id="date_picker_dummy_start" placeholder="Username"
                        aria-describedby="basic-addon1" name="date_picker_dummy_start" style="display: none;">
                        <input type="text" class="form-control" id='date_picker_dummy_end' placeholder="Username"
                        aria-describedby="basic-addon1" name="date_picker_dummy_end" style="display: none;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Assignment :</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="assignment_selector" name="assignment_selector">
                            <option>Studio rental</option>
                            <option>Studio rental + Location</option>
                            <option>Equipment rental</option>
                            <option>Onscreen room</option>
                            <option>Production</option>
                        </select>
                    </div>
                </div>
                <div id="room-group-form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Studio room :</label>
                        <div class="col-sm-5" id="room_set">
                            <select class="form-control ads" id="room_selector" name="room_selector">
                                <option value="rs01">Studio room S</option>
                                <option value="rs02">Studio room M</option>
                                <option value="rs03">Studio room L</option>
                                <option value="rs04">Studio room XL</option>
                                <option value="rs05">Studio room G</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-default" id="add_room">+</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status :</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="status_selector" name="status_selector">
                            <option style="color:#ff992c;">Tentative</option>
                            <option style="color: #128A42;">Confirm</option>
                            <option style="color: red;">Cancel</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Time :</label>
                    <div class="col-sm-5">
                        <select class="form-control" name='time_form' id="time_form" placeholder="Client name...">
                        </select>
                    </div>
                </div>
                <div id="assistant-group-form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Assistant :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="assistant_form" name='assistant_form'
                            placeholder="Assistant name ...">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-default" id="add_assistant">+</button>
                        </div>
                    </div>
                    
                </div>
                <div id="detail-form">
                    <div class="head"></div>
                    <div class=" panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <ul style="display: inline;" class="pull-right">
                            <li style="display: inline; padding-right: 10px;">
                                <button type="submit" id="submit" class="btn btn-default">Create</button>
                            </li>
                            <li style="display: inline;">
                                <button type="button" id="add_detail" class="btn btn-default button">More detail</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <input type='text' name='type' id='type' value='No lighting' style="display:none;">
            </form>
        </div>
        <script src="../javascripts/jquery-1.11.3.min.js"></script>
        <script src="../bootstrap-3.3.4-dist/js/bootstrap.js"></script>
        <script src="../javascripts/moment.min.js"></script>
        <script src="../javascripts/daterangepicker.js"></script>
        <script src="../javascripts/main.js"></script>
        <script src="../javascripts/date_control.js"></script>
        <script src="../javascripts/navigation.js"></script>
        <script type="text/javascript">
        
        </script>
    </body>
</html>